@font-face {
    font-family: "Elianto";
    src: url('https://rkuerten.github.io/HBFont/fonts/Elianto.ttf')
}

@font-face {
    font-family: "Elianto Glyph";
    src: url("https://rkuerten.github.io/HBFont/fonts/Elianto-Glyph.otf");
}