@font-face {
    font-family: "Phage";
    src: url('https://rkuerten.github.io/HBFont/fonts/Phage.otf')
}

@font-face {
    font-family: "Phage Rough";
    src: url("https://rkuerten.github.io/HBFont/fonts/Phage_Rough.otf");
}