@font-face {
    font-family: "Wargate";
    src: url('https://rkuerten.github.io/HBFont/wargate/Wargate.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Wargate";
    src: url("https://rkuerten.github.io/HBFont/wargate/Wargate_Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Wargate";
    src: url("https://rkuerten.github.io/HBFont/wargate/Wargate_Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Wargate";
    src: url("https://rkuerten.github.io/HBFont/wargate/Wargate_Extra_Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Wargate Book";
    src: url('https://rkuerten.github.io/HBFont/wargate/Wargate_Book.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}